@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    scroll-behavior: smooth;
} 
:root{
    --orange:#ee7f24;
    --black:#000000;
}

body{
    background-color: var(--black);
    color: #fff;
}

  /*navbar section*/
.navbar{
    background-color: none;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    font-size: 1.2rem;
    top: 0;
    z-index: 999;   
}
.navbar__container{
    background-color: none;
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width:1300px ;
    margin: 0 auto;
    padding: 0 50px;
    transition: all 0.5s ease-in-out;
}
#navbar__logo{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;  
}
#logo{
    color: #fff;
}
.navbar__menu{
    display: flex;
    align-items: center;
    text-align: center;    
}
.navbar__item{
    padding: 1rem;
    height: 80px;  
}
.navbar__links{
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    padding: 0 0.5rem;
    height: 100%;
}
@media screen and (max-width:950px) {
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 80vh;
        z-index: -1;
        background-color: black;
    }
    .navbar__menu.active{
        top: 100%;
        opacity: 1;
        height: 87vh;
        z-index: 99;
        font-size: 1.6rem;
    }
    #navbar__logo{
        padding: 25px;
    }
    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }
    .navbar__item{
        width: 100%;
    }
    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    #mobile__menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }
    #mobile__menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile__menu.is-active .bar:nth-child(1){
       transform: translateY(8px) rotate(45deg);
    }
    #mobile__menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
     }   
}

 /* header section for landing page*/
header{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-image:linear-gradient(rgba(0.2, 0.2, 0.2, 0.4), rgba(0.2, 0.2, 0.2, 0.4)), url('/root/images/pexels-max-rahubovskiy-7045308.jpg');
    position: relative;
    background-size: cover;
    background-position: center;
    right: 0;
}
#header__etu{
    color: #fff;
}
#header__architect{
    color: #fff;
}
.header__text{
    margin-top: 18%;
    margin-left: 5%;
}
.header__h1{
    font-size: 4.5em;   
}
#header__h2{
    font-size: 2.7em;
}
.hero__btn__1{
    width: 16%;
     color: #fff;
     background: var(--black);
     transition: 0.4s;
     text-decoration: none;
     padding: 10px 3px;
     cursor: pointer;
     display: flex;
     justify-content: center;
    margin-top: 3%;
 }
 .hero__btn__1:hover{
    background: #fff;
    color: var(--black);
 }
@media screen and (max-width:950px){
    .header__text{   
        text-align: center;
         margin-top: 40%;
        transition: all 0.5s ease-in-out;
        font-size: larger;
         }
         #header__h1{
            font-size: 4em;
         }
         #header__h2{
            font-size: 2em;
         }
         .hero__btn__1{
            width: 50%;
            color: #fff;
            background: var(--black);
            margin-left: 25%;
            text-decoration: none;
            padding: 10px 3px;
            cursor: pointer;
            display: flex;
            align-items:flex-start;
            margin-top: 3%;
         }
}




/*about me section for landing page*/

.about__me__section{
    padding: 12% 10%;
}
.about__me__section__container{
    display: flex;
    width: 100%;
    padding: 2%;
}
.about__me__section__h2{
    flex-basis: 20%;
    font-size: 2rem;
    margin-left: 28%;  
}
.my__color{
    color: #fff;
}
.about__me__section__p{ 
    width:350px;
    word-wrap: break-word; 
}
.hero__btn{
    width: 20%;
     color: #fff;
     background: transparent;
     border: 1px solid #fff;
     text-decoration: none;
     padding: 10px 3px;
     cursor: pointer;
     display: flex;
   justify-content: center;
   margin-left: 40%;
 }
 .hero__btn:hover{
   color: #000000;
    background:#fff;
    transition: 0.9s;
 }
@media screen and (max-width:950px) {
    .about__me__section__container{
        display:block;
       
     }
     .about__me__section{
        display: block;
        padding-bottom: 30%;
     }
     .about__me__section__h2{
        padding: 2.5%;
     }
     .about__me__section__p{
       margin-left: 15%;
       padding-bottom: 9%;
     }  
}
@media screen and (max-width:950px){
   .hero__btn{
    width: 50%;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    text-decoration: none;
    padding: 11px 3px;
    cursor: pointer;
    display: flex;
    position: absolute;
     justify-content: center;
    align-items: center;
   transform: translate(-50%, -50%);
   
   }
}



/*services section for landing page*/
.service__section{
  padding: 2% 1% 3% 0% ;
    text-align: center;
}
.service__section__h2{
    font-size: 2rem ;
    color: #fff;
    margin-right: 2%;
}
.service__section__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 30px;
    margin-bottom: 70px;
    padding-bottom:60px ;
    justify-self: start;
}
.service__section__list .service__section__list__img{
    width: 100%; 
}
.img__info {
    text-align: left;
    color:#fff;
    margin-left: 2%;
    max-width: 100%;  
}
@media  screen and (max-width:950px) {
    .service__section__list .service__section__list__img{
        width: 90%;
    }
    .img__info{
        margin-left:8% ;
        text-align: left;
        color:#fff;
        max-width: 100%;
        font-size: 1em ; 
        font-family: 'Gill sans', sans-serif;
}
.service__section__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 30px;
    margin-bottom: 70px;
    padding-bottom:60px ;

    }
.service__section{
    padding: 0 0 20% 0;
}   
}


 /* features section for landing page*/
.features{
    padding-bottom: 6%;
}
.features__h2{
    font-size: 1.6em;
    color: #fff;
    text-align: center;
    padding: 2% 0 2%;
}
.features__container{
    margin-left: 10%;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
    width: 90%;
}
.feature{
    width: 100%;
    font-size: 13px;
    word-wrap: break-word;
}
.feature__icon{
    font-weight: 700;
    font-size: 40px;
    justify-content: center;
}
@media screen and (max-width:950px){
    .features__container{
        display: flex;
        justify-content: space-evenly;
    }
    .feature{
        width: 40%;
        display: inline-block;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 14px;
        margin-right: 7%;
        transition: 0.5s;
    }
    .feature__icon{
        font-size: 30px;
        display: flex;
        justify-content: baseline;
    }
    .features{
        padding-bottom: 20%;
    }   
    }
    .feature__icon{
        margin-right: 4%;
    }
 



    /*projects section*/
    .projects__section{
      padding: 5% 0;
      text-align: center;
      width: 80%;
      margin: auto;
      text-align: center;
    }
    .project__board{
        flex-basis: 32%;
    }
    .card__h2{
      padding: 3%;
    }
    .hero__btn__2{
       
        color:var(--black);
        background:white;
        transition: 0.4s;
        text-decoration: none;
        padding: 10px 20px;
        cursor: pointer;
    }
    .project__type img{
        width: 30%;
     height: 130%;
        border-radius: 2%;
    }
    .project__type{
        padding: 2%;
        position: relative;
        overflow: hidden;
       
    }
    .project__text{
        font-size: 0.9rem;
        background: linear-gradient(rgba(0.2, 0.2, 0.2, 1));
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

       /* alternate service */
    .service__offer{
        padding: 1%;
        text-align: left;
    }
    .offers__container{
        display: flex;
        margin-left: 13%;
        font-size: 15px;
        padding-bottom: 7%;
    }
    .offers__left__text{
       width: 300px;
       font-size: 1.3rem;
    }
    .offers__right__text{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        padding-left: 9%;
    }
    .offers__text{
        width: 300px;
        padding-top: 5%;
        word-wrap: break-word;
    }
    .offers__h3{
       padding-bottom: 2%;
    }
    .offers__text p{
        font-size: 0.9rem;
    }
    @media screen and (max-width:950px){
        .offers__container{
            display: block;
        }
        .offers__left__text{
            text-align: center;
             width: 300px;
             margin-left: 30px;
            font-size: 1.5rem;
            padding-bottom: 6%;
        }
        /* .offers__right__text{
            text-align: center;
        } */
        .offers__text{
            padding-bottom: 4%;
            text-align: left;
        }
    }
   